<template>
    <div>
        <ul>
            <li v-for="room in rooms" :key="room.id">
                {{room.name}}
                ({{room.players.length}}/2)
                <button v-on:click="join(room.id)" :disabled="joined && joined_room!==room.id ? true : false">
                    <p v-if="joined && joined_room===room.id">Leave</p>
                    <p v-else>Join!</p>
                </button>
            </li>
        </ul>
        <button v-on:click="localPlay()">Local Play</button>
        <p v-if="joined">Waiting for another player</p>
    </div>
</template>



<script>
import io from 'socket.io-client';
let socket = io('/lobby', {
    'path': '/pong/socket.io'
})
console.log(socket.nsp);

export default {
  name: "GameRooms",
  data() {
    return {
      socket: socket,
      joined: false,
      joined_room: undefined,
      rooms: []
    };
  },
  methods: {
    join: function(id) {
      if (!this.joined) {
        this.rooms[id].players.push("test");
        this.joined = true;
        this.joined_room = id;

        this.socket.emit("joinRoom", id);
      } else if (this.joined_room === id) {
        this.rooms[id].players.pop();
        this.joined = false;
        this.joined_room = undefined;

        this.socket.emit("leaveRoom", id);
      }
    },
    localPlay: function() {
      window.location.href = "game?local=true";
    }
  },
  mounted() {
    let self = this;
    socket.on("syncRooms", function(rooms) {
        console.log("Applying room sync");
        
        self.rooms = rooms;
    });

    socket.on("gotoGame", function(){
      window.location.href = "game";
    })
  }
};
</script>