<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <!--<HelloWorld msg="Welcome to Your Vue.js App TESTEST"/>-->
    <h1>Scream Pong!</h1>
    <GameRooms></GameRooms>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import GameRooms from './components/GameRooms.vue'

export default {
  name: 'app',
  components: {
    //HelloWorld
    GameRooms
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>